.friend-block {
  width: 500px;
  display: flex;
    justify-content: space-between;
  /*padding: 10px 0 10px 0;*/
  /*text-align: center;*/
  /*margin-bottom: 10px;*/
    /*position: relative;*/
}

.your_name:hover {
  text-decoration: none;
}